body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
  margin: 0;
}

.glass {
  width: 100px;
  height: 200px;
  border: 4px solid #555;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background: #ffffffa1;
  box-shadow: inset 0 0 10px #aaa;
}

.juice {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: fillJuice 3s ease-out forwards;
}

@keyframes fillJuice {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
